.page_container {
    background-color: orange;
    display: flex;
    flex-flow: column;
    /*width: 100vw;*/
    
    min-height: 100vh;
    font-family: 'robotoregular', Arial;
}
/* CSS for the navbar */

.page_navbar {
    background-color: #B5BCD9;
    border-bottom: 1px solid #15161a;
    min-height: 60px;
    padding: 0 25px 0 0;
    font-size: 1.2em;
    order: 1;
    /*CSS for Navbar flexbox*/
    
    display: flex;
    flex-flow: row wrap;
    /*justify-content: space-between;*/
    
    align-items: center;
}

.page_navbar_right {
    flex: 1 1 auto;
}

.page_navbar_right a {
    color: #333;
    transition: all .2s;
}

.page_navbar_right a:hover {
    color: black;
}

.page_navbar_left {
    flex: 10 1 auto;
    font-size: 1.75em;
    font-family: 'permanent_markerregular', Arial;
}

.nav_ul_flex {
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 1 1 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.page_content {
    background-color: #F9F9FD;
    padding: 20px;
    order: 2;
    flex-grow: 1;
}
/* CSS for the contents */

.content_title {
    margin: auto;
    text-align: center;
}

.content_title h1 {
    margin: 0 auto;
}

h2 {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

h3 {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.content_search {
    margin: auto;
    text-align: center;
}

.card_grid {
    margin: auto;
}
/* Deck Cards */

.card {
    background-color: white;
    border: 1px solid #15161a;
    border-radius: 1px;
    padding: 8px;
    margin: 8px;
    /*height: 300px;
    overflow: auto;*/
    
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: box-shadow 0.2s ease-in-out;
}

.card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.deck-card {
    width: 250px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.deck-title {
    font-size: 1.3em;
}

.deck-description {
    text-align: justify;
    flex: 1 1 auto;
}

.deck_dropdown {
    align-self: flex-end;
}

.game-card {
    width: 250px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.game-title {
    font-size: 1.3em;
}

.game-description {
    text-align: justify;
    flex: 1 1 auto;
}

.game_dropdown {
    align-self: flex-end;
}
/* CSS for the Footer */

.page_footer {
    background-color: #B5BCD9;
    border-top: 1px solid #15161a;
    font-size: 1.5em;
    min-height: 60px;
    order: 3;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page_footer > p {
    margin: 0;
}

#carabiner_pic {
    height: 80px;
}

.footer_breadcrumbs {
    list-style: none;
    margin: 0;
    padding: 0;
    
    flex: 1 1 auto;
    display: flex;
    flex-flow: row wrap;
}
/* Full Game CSS */

.full_game_flexbox {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    width: 80%
}

.full_game_left {
    width: 20%;
    min-width: 150px;
    text-align: center;
}

.full_game_right {
    width: 80%;
}

.full_game_right .hr_slash {
    height: 6px;
    background: url('../img/layout/hr-11.png') repeat-x 0 0;
    border: 0;
}

.full_game_right .content_title h2{
    font-size: 3em;
    font-family: 'permanent_markerregular', Arial;
}

@media screen and (max-width: 977px) {
    .full_game_right {
        order: 1;
        width: 100%
    }
    .full_game_left {
        order: 2;
        width: 100%;
    }
}

.full_game_vidpics {
    width: 80%;
    margin: auto;
    margin-top: 15px;
}

.full_game_pictures {
    width: 100%;
    border: 1px solid #15161a;
    border-radius: 5px;
}

.full_game_pictures img {
    max-height: 300px;
    text-align: center;
    margin: auto;
}

.full_game_videos {
    margin-top: 15px;
    width: 100%;
    border: 1px solid #15161a;
    border-radius: 5px;
    margin: auto;
    text-align: center;
}

.full_game_videos video {
    max-width: 100%;
    vertical-align: middle;
}

/*Log In Page CSS*/
.single_form {
    margin: 0 auto;
    float: none;
}

.single_form label {
    font-weight: normal;
    font-size: 1.3em;
}

/*Register Page CSS*/
.register_form {
    margin: 0 auto;
    float: none;
}

.register_form label {
    font-weight: normal;
    font-size: 1.3em;
}

/**/
.create_game, .create_deck {
    cursor: pointer;
}